# My\ allows to ignore a folder with a space in the path

# ignore compiled python code

**/__pycache__
**/.idea
**/temp
**/tmp

# ignore datafiles
ANN_DATA


# saved lstm
**/savedLSTMmedium

# ignore java workspace stuff
.metadata
.recommenders


# ignore some fasta files
fasta_hp1.txt
fasta_hp2.txt